body{
    margin: o;
}
nav{
    background-color: aqua;
    height: 20px;
 
}
ul{
    list-style: none;
}
li{
    display: inline;
    margin-left: 30px;
}
a{
    color: white;
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    transition: 1s all;
}
a:hover{
    background-color: rgb(48, 42, 165);
    color: white;
}
.flex-container{
    display: flex;
}
.fi1{
    background-color: rgb(55, 85, 173);
    flex: 20%;
}
.fi2{
    background-color: rgb(43, 110, 226);
    flex: 80%;
    text-align: right;
}
header{
    background-color: aqua;
    height: 50px;
}
/* slider code starts here */

.slider{
    height: 1000px;
    background-image: url(../assests/images/le.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    /* animation code */
    animation-name: aniset;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes aniset{
    from{
        background-image: url(../assests/images/l.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    to{
        background-image: url(../assests/images/leg.jpg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}